.home {
  .hero-section {
    display: flex;
    .hero-img {
      width: 100%;
    }
    @media (max-width: 768px) {
      padding-top: 80px;
    }
  }

  .intro-section {
    background: #1f243a;
    .container {
      .intro-back {
        position: relative;
        max-width: 1194px;
        margin: 0 auto;
        height: auto;
        .intro-bg {
          position: relative;
          width: 100%;
          @media (max-width: 1024px) {
            height: 330px;
          }
          @media (max-width: 768px) {
            height: 220px;
          }
          @media (max-width: 425px) {
            height: 330px;
          }
        }
        .intro-content {
          padding: 0 105px 65px 105px;
          position: absolute;
          top: 0;
          color: #fff;
          height: 100%;
          @media (max-width: 768px) {
            padding: 20px;
          }
          h1 {
            text-align: center;
            padding: 50px 0;
            @media (max-width: 768px) {
              padding: 10px 0;
              font-size: 18px;
            }
          }
          .description {
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
          .down {
            padding-top: 27px;
            @media (max-width: 768px) {
              padding-top: 10px;
            }
          }
        }
      }
    }
  }

  .character-section {
    display: flex;
    background: #1f243a;
    .container {
      .inner-section {
        padding: 50px 0;
        position: relative;
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          flex-direction: column;
        }
        .left {
          width: 50%;
          z-index: 10;
          @media (max-width: 768px) {
            width: 100%;
            order: 2;
          }
          .heading {
            font-size: 50px;
            font-weight: 700;
            background: -webkit-linear-gradient(
              180deg,
              #42bbff 0%,
              #ffffff 100%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
            @media (max-width: 768px) {
              font-size: 28px;
              text-align: center;
            }
          }
          .line-rectangle {
            position: relative;
            padding: 30px 0;
            display: flex;
            justify-content: center;
            .character-line {
              width: 100%;
            }
            .character-rectangle {
              position: absolute;
              padding: inherit;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .description {
            font-size: 16px;
            font-weight: 400;
            color: #fff;
          }
          .character-group {
            display: flex;
            width: 100%;
            @media (max-width: 768px) {
              justify-content: center;
            }
          }
        }
        .right {
          position: relative;
          z-index: 10;
          display: flex;
          justify-content: center;
          .character-main {
            z-index: 10;
            width: 100%;
            @media (max-width: 768px) {
              width: 70%;
            }
          }
          @media (max-width: 768px) {
            order: 1;
          }
        }
        .character-bg {
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 5;
          padding: inherit;
          height: 100%;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }

  .playtoearn-section {
    display: flex;
    background: #1f243a;
    padding: 0 0 70px 0;
    .container {
      .nav-section {
        position: relative;
        .content {
          padding: 42px 235px 16px 235px;
          text-align: center;
          @media (max-width: 768px) {
            padding: 20px;
          }
          .heading {
            font-size: 35px;
            font-weight: 700;
            color: #fff;
            @media (max-width: 768px) {
              padding: 10px 0;
              font-size: 18px;
            }
          }
          .description {
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            padding: 20px;
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
        .pbg {
          width: 100%;
          position: absolute;
          top: 9px;
          @media (max-width: 1024px) {
            height: 380px;
          }
          @media (max-width: 768px) {
            height: 280px;
          }
          @media (max-width: 425px) {
            height: 350px;
          }
        }
        .pvt {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        .play-vector1 {
          top: 5px;
          width: 100%;
        }
        .play-vector2 {
          top: 0;
          width: 100%;
        }
      }
    }
  }

  .feature-section {
    background: #31395b;
    padding: 80px 0;
    .container {
      .nav-section {
        .heading {
          font-size: 35px;
          font-weight: 700;
          color: #fff;
          text-align: center;
          @media (max-width: 768px) {
            font-size: 28px;
          }
        }
        .card-group {
          display: flex;
          justify-content: space-between;
          text-align: center;
          padding-top: 36px;
          gap: 20px;
          @media (max-width: 768px) {
            flex-direction: column;
          }
          .card:nth-child(2) {
            margin-top: -10px;
            @media (max-width: 768px) {
              margin-top: 0;
            }
          }
        }
        .token-intro {
          background: linear-gradient(90deg, #509fdc 12.67%, #d3abf6 103.79%);
          padding: 22px 70px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 88px;
          @media (max-width: 768px) {
            flex-direction: column;
            padding: 20px;
          }
          .left {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 50%;
            @media (max-width: 768px) {
              width: 100%;
            }
            h1 {
              color: #fff;
              font-size: 35px;
              font-weight: 700;
              @media (max-width: 768px) {
                font-size: 18px;
              }
            }
            p {
              font-size: 15px;
              font-weight: 700;
              color: #fff;
              margin-top: 30px;
              @media (max-width: 768px) {
                font-size: 14px;
              }
            }
          }
          .right {
            display: flex;
            gap: 20px;
            @media (max-width: 768px) {
              padding-top: 20px;
            }
            @media (max-width: 425px) {
              flex-direction: column;
            }
            .token-card {
              border: 1px solid #9cd4ff;
              border-radius: 5px;
              padding: 5px;
              .nav-card {
                background: #9cd4ff;
                padding: 13px 10px 18px 10px;
                min-width: 180px;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                  width: 135px;
                  height: 135px;
                }
                .token-title {
                  color: #fff;
                  font-size: 20px;
                  font-weight: 700;
                  margin-top: 20px;
                }
              }
            }
            // .token-card:nth-child(1) {
            //   margin-right: 22px;
            // }
          }
        }
      }
    }
  }

  .partner-section {
    background: #5869b1;
    padding: 60px 0;
    .nav-section {
      .heading {
        font-size: 35px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        @media (max-width: 768px) {
          font-size: 28px;
        }
      }
      .content {
        margin-top: 46px;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        @media (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 425px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
